<<<<<<< HEAD
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.Pagination{
    
=======
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.Pagination{
    
>>>>>>> de77fb0a7f24d5f5adb422d541dca069fecae1ff
}