<<<<<<< HEAD
#footer {
	background: #0f90dcde;
	color: #fff;
	margin-top: 25px;
}

#footer a{
	color: #fff;
}

#mobile-title{
	display: show;
}
=======
#footer {
	background: #0f90dcde;
	color: #fff;
	margin-top: 25px;
}

#footer a{
	color: #fff;
}


#footer {
	position: absolute;
	bottom:0;
	width:100%;
	height:60px;
 }
>>>>>>> de77fb0a7f24d5f5adb422d541dca069fecae1ff
