<<<<<<< HEAD
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    
=======
.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    
>>>>>>> de77fb0a7f24d5f5adb422d541dca069fecae1ff
}