{% extends 'assesment_system/base.html' %}
{% block main_content %}
{% load static %}


<div class="container-fluid mt-5">
<div class="row">
    <div class="col-md-4">
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem; height: 400px;">
    <div class="card-header">Aptitude</div>
    <div class="card-body">
      <h5 class="card-title">Total Questions: 5</h5>
      <p class="card-text">To start the Test click on the Start Test Button</p>
      <p><strong>Topics:</strong> Percentage, Averages, Ratio & Proportion, Speed Distance & Time, Time & Work, Pipe & Cistern</p>
      <a class="btn btn-info" href="{% url 'ApptitudeQuestionList' %}">Start Test</a>
    </div>
  </div>
  </div>

  <div class="col-md-4">
  <div class="card text-white bg-success mb-3" style="max-width: 18rem; height: 400px;">
    <div class="card-header">Reasoning</div>
    <div class="card-body">
      <h5 class="card-title">Total Questions: 3</h5>
      <p class="card-text">To start the Test click on the Start Test Button</p>
      <p><strong>Topics:</strong> Number Series, Blood Relation, Age Based, Syllogs, Coding-Decoding, Seating Arrangements, Direction</p>
      <a class="btn btn-info" href="{% url 'questionsList' %}">Start Test</a>
    </div>
  </div>
  </div>

  <div class="col-md-4">
  <div class="card text-white bg-danger mb-3" style="max-width: 18rem; height: 400px;">
    <div class="card-header">Verbal</div>
    <div class="card-body">
      <h5 class="card-title">Total Questions: 4</h5>
      <p class="card-text">To start the Test click on the Start Test Button</p>
      <p><strong>Topics:</strong> Antonym, Synonym, Reading Comprehension, Sentence Correction, One word Substitution, Change of Speech, Articles</p>
      <a class="btn btn-info" href="{% url 'questions' %}">Start Test</a>
    </div>
  </div>
</div>
</div>
</div>


{% endblock main_content %}